.search {
    --width-search:229px;
    position: relative;
    height: 42px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-right: var(--spacing-md);
    margin-left: 0px;

    input{
        flex: 1;
        background-color: transparent;
        height: 70%;
        min-width:var(--width-search) ;
        padding-left: var(--spacing-sm-1);
        font-size: var(--font-s-md);
        color: var(--contrast-color);
        caret-color: var(--contrast-color);
        border-bottom: 1.5px solid rgb(178, 178, 186);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--contrast-color);
    }
}

.loading-search,
.clear-search {
    position: absolute;
    right: 22px;
    font-size: 13px;
    color: rgb(178, 178, 186);
    top: 48%;
    transform: translateY(-50%);
}
.search-btn{
    position: absolute;
    font-size: var(--font-s-lg);
    color: rgb(178, 178, 186);
    right:1px;
    font-weight: 700;
}
.results{
    position:absolute;
    top:48px;
    left:26px;
    background-color: #1e1e1e;
    border-radius: 7px;
    color: var(--sub-color);
}
.name-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 200px;


    &:hover {
        color: var(--primary-color);
    }
  }
  