.list-genre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .list-genre-content {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: calc(100% - 80px); 
        margin-left: 20px;
    }

    .list-title {
        flex: 0 0 auto; 
        margin-right: 18px; 
        white-space: nowrap; 
        padding: 20px; 
        border-radius: 5px; 
        color: #fff; 
        font-size: 1.2rem; 
        width: 210px; 
        height: 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 12px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .arrow-button, .arrow-placeholder {
        flex: 0 0 40px;
        font-size: var(--font-s-lg-2);
        cursor: pointer;
        padding: 0 10px;
        text-align: center;
    }

    .arrow-button.left, .arrow-placeholder.left {
        font-size: var(--font-s-lg-2);
        color: #757575;
    
    }
    
    .arrow-button.right, .arrow-placeholder.right {
        color: #757575;
        margin-right: 12px;
        font-size: var(--font-s-lg-2);
    }

    .genre-0 { background: linear-gradient(45deg, #a1371d, #e68c38); } 
    .genre-1 { background: linear-gradient(45deg, #0f6d1e, #9ceb42); } 
    .genre-2 { background: linear-gradient(45deg, #17318f, #5b9dee); } 
    .genre-3 { background: linear-gradient(45deg, #740642, #f168a6); } 
    .genre-4 { background: linear-gradient(45deg, #8b4c1b, #e4b040); } 
    .genre-5 { background: linear-gradient(45deg, #4e1c8f, #ae40e0); }
    .genre-6 { background: linear-gradient(45deg, #27b9b2, #22d49f); } 
    .genre-7 { background: linear-gradient(45deg, #CCAC2D, #CCB517); } 
    

    .genre-skeleton {
        background-color: #383838;
    }
}
